{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mindshare.so/customer/v1"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/get-organization-customers": {
      "post": {
        "description": "Get all customers linked to the organization",
        "requestBody": {
          "description": "Organization ID",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationID": {
                    "type": "number",
                    "description": "The ID of the organization"
                  }
                },
                "required": [
                  "organizationID"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of customers for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCustomersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-customer-query-groups": {
      "post": {
        "description": "Get all query groups for a customer",
        "requestBody": {
          "description": "Customer ID",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerID": {
                    "type": "number",
                    "description": "The ID of the customer"
                  }
                },
                "required": [
                  "customerID"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of query groups for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-queries": {
      "post": {
        "description": "Get queries based on customer ID and either queryGroupID with date range, or executionID",
        "requestBody": {
          "description": "Get queries parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerID": {
                    "type": "number",
                    "description": "The ID of the customer"
                  },
                  "queryGroupID": {
                    "type": "number",
                    "description": "The ID of the query group"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date in yyyy-mm-dd format"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "description": "End date in yyyy-mm-dd format"
                  },
                  "executionID": {
                    "type": "number",
                    "description": "The ID of the execution"
                  }
                },
                "required": [
                  "customerID"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of queries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-companies-stats": {
      "post": {
        "description": "Get company statistics based on customer ID and either queryGroupID with date range, or executionID",
        "requestBody": {
          "description": "Get companies stats parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerID": {
                    "type": "number",
                    "description": "The ID of the customer"
                  },
                  "queryGroupID": {
                    "type": "number",
                    "description": "The ID of the query group"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date in yyyy-mm-dd format"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "description": "End date in yyyy-mm-dd format"
                  },
                  "executionID": {
                    "type": "number",
                    "description": "The ID of the execution"
                  }
                },
                "required": [
                  "customerID"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of company statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-domain-stats": {
      "post": {
        "description": "Get domain and article statistics based on customer ID and either queryGroupID with date range, or executionID",
        "requestBody": {
          "description": "Get domain stats parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerID": {
                    "type": "number",
                    "description": "The ID of the customer"
                  },
                  "queryGroupID": {
                    "type": "number",
                    "description": "The ID of the query group"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date in yyyy-mm-dd format"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date",
                    "description": "End date in yyyy-mm-dd format"
                  },
                  "executionID": {
                    "type": "number",
                    "description": "The ID of the execution"
                  }
                },
                "required": [
                  "customerID"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Domain and article statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-recommendations": {
      "post": {
        "description": "Get recommendations for a customer",
        "requestBody": {
          "description": "Customer ID",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerID": {
                    "type": "number",
                    "description": "The ID of the customer"
                  }
                },
                "required": [
                  "customerID"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
      "schemas": {
        "Plant": {
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "description": "The name of the plant",
              "type": "string"
            },
            "tag": {
              "description": "Tag to specify the type",
              "type": "string"
            }
          }
        },
        "NewPlant": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Plant"
            },
            {
              "required": [
                "id"
              ],
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identification number of the plant",
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          ]
        },
        "Error": {
          "required": [
            "error",
            "message"
          ],
          "type": "object",
          "properties": {
            "error": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        },
        "Customer": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "description": "Customer ID"
            },
            "name": {
              "type": "string",
              "description": "Customer name"
            },
            "created_time": {
              "type": "string",
              "format": "date-time",
              "description": "Customer creation timestamp"
            },
            "trial_start": {
              "type": "string",
              "format": "date-time",
              "description": "Trial start date"
            },
            "trial_end": {
              "type": "string",
              "format": "date-time",
              "description": "Trial end date"
            },
            "last_scan_date": {
              "type": "string",
              "format": "date-time",
              "description": "Last scan date"
            },
            "next_scheduled_run": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Next scheduled run date"
            },
            "paying_customer": {
              "type": "boolean",
              "description": "Whether the customer is a paying customer"
            },
            "website_url": {
              "type": "string",
              "format": "uri",
              "description": "Customer website URL"
            },
            "view_report_url": {
              "type": "string",
              "description": "URL to view the customer report"
            }
          },
          "required": [
            "id",
            "name",
            "created_time",
            "trial_start",
            "trial_end",
            "last_scan_date",
            "paying_customer",
            "website_url",
            "view_report_url"
          ]
        },
        "OrganizationCustomersResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Customer"
              },
              "description": "List of customers"
            },
            "version": {
              "type": "string",
              "description": "API version"
            },
            "env": {
              "type": "string",
              "description": "Environment name"
            }
          },
          "required": [
            "data",
            "version",
            "env"
          ]
        },
        "Execution": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "description": "Execution ID"
            },
            "title": {
              "type": "string",
              "description": "Execution title"
            },
            "execution_date": {
              "type": "string",
              "format": "date",
              "description": "Date of execution"
            },
            "score": {
              "type": "number",
              "description": "Execution score"
            }
          },
          "required": [
            "id",
            "title",
            "execution_date",
            "score"
          ]
        },
        "QueryGroup": {
          "type": "object",
          "properties": {
            "query_group_id": {
              "type": "number",
              "description": "Query group ID"
            },
            "group_type": {
              "type": "string",
              "description": "Type of the group"
            },
            "query_group_title": {
              "type": "string",
              "description": "Title of the query group"
            },
            "created_time": {
              "type": "string",
              "format": "date-time",
              "description": "Creation timestamp"
            },
            "keywords": {
              "type": "string",
              "description": "Keywords for the group"
            },
            "num_of_queries": {
              "type": "number",
              "nullable": true,
              "description": "Number of queries"
            },
            "website_url": {
              "type": "string",
              "format": "uri",
              "description": "Website URL"
            },
            "run_from_location": {
              "type": "string",
              "description": "Location to run from. Default is 'us'"
            },
            "executions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Execution"
              },
              "description": "List of executions"
            }
          },
          "required": [
            "query_group_id",
            "group_type",
            "query_group_title",
            "created_time",
            "keywords",
            "website_url",
            "run_from_location",
            "executions"
          ]
        },
        "QueryGroupsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/QueryGroup"
              },
              "description": "List of query groups"
            },
            "version": {
              "type": "string",
              "description": "API version"
            },
            "env": {
              "type": "string",
              "description": "Environment name"
            }
          },
          "required": [
            "data",
            "version",
            "env"
          ]
        },
        "Query": {
          "type": "object",
          "properties": {
            "resources_data_path": {
              "type": "string",
              "format": "uri",
              "description": "URL to resources data"
            },
            "date": {
              "type": "string",
              "format": "date-time",
              "description": "Query execution date"
            },
            "is_product_in_results": {
              "type": "number",
              "description": "Whether product is in results (0 or 1)"
            },
            "competitors_data_path": {
              "type": "string",
              "format": "uri",
              "description": "URL to competitors full data. The main customer can appear in this list."
            },
            "query": {
              "type": "string",
              "description": "The query text"
            },
            "query_id": {
              "type": "number",
              "description": "Query ID"
            },
            "execution_id": {
              "type": "number",
              "description": "Execution ID"
            },
            "query_results_path": {
              "type": "string",
              "format": "uri",
              "description": "URL to query results text"
            }
          },
          "required": [
            "resources_data_path",
            "date",
            "is_product_in_results",
            "competitors_data_path",
            "query",
            "query_id",
            "execution_id",
            "query_results_path"
          ]
        },
        "QueriesResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Query"
              },
              "description": "List of queries"
            },
            "version": {
              "type": "string",
              "description": "API version"
            },
            "env": {
              "type": "string",
              "description": "Environment name"
            }
          },
          "required": [
            "data",
            "version",
            "env"
          ]
        },
        "CompanyStat": {
          "type": "object",
          "properties": {
            "company": {
              "type": "string",
              "description": "Company name"
            },
            "count": {
              "type": "number",
              "description": "Number of occurrences"
            },
            "percentage": {
              "type": "number",
              "description": "Percentage of occurrences"
            }
          },
          "required": [
            "company",
            "count",
            "percentage"
          ]
        },
        "CompaniesStatsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CompanyStat"
              },
              "description": "List of company statistics"
            },
            "version": {
              "type": "string",
              "description": "API version"
            },
            "env": {
              "type": "string",
              "description": "Environment name"
            }
          },
          "required": [
            "data",
            "version",
            "env"
          ]
        },
        "DomainStat": {
          "type": "object",
          "properties": {
            "domain": {
              "type": "string",
              "description": "Domain name"
            },
            "count": {
              "type": "number",
              "description": "Number of occurrences"
            },
            "percentage": {
              "type": "number",
              "description": "Percentage of occurrences"
            },
            "category": {
              "type": "string",
              "nullable": true,
              "description": "Category of the domain"
            },
            "isCompetitor": {
              "type": "boolean",
              "nullable": true,
              "description": "Whether this is a competitor"
            }
          },
          "required": [
            "domain",
            "count",
            "percentage"
          ]
        },
        "ArticleStat": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "format": "uri",
              "description": "Article URL"
            },
            "count": {
              "type": "number",
              "description": "Number of occurrences"
            },
            "percentage": {
              "type": "number",
              "description": "Percentage of occurrences"
            },
            "isCustomerMentioned": {
              "type": "boolean",
              "description": "Whether the customer is mentioned in this article"
            }
          },
          "required": [
            "url",
            "count",
            "percentage",
            "isCustomerMentioned"
          ]
        },
        "DomainStatsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "domainStats": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainStat"
                  },
                  "description": "List of domain statistics"
                },
                "articleStats": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleStat"
                  },
                  "description": "List of article statistics"
                }
              },
              "required": [
                "domainStats",
                "articleStats"
              ]
            },
            "version": {
              "type": "string",
              "description": "API version"
            },
            "env": {
              "type": "string",
              "description": "Environment name"
            }
          },
          "required": [
            "data",
            "version",
            "env"
          ]
        },
        "Recommendation": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "description": "Recommendation ID"
            },
            "title": {
              "type": "string",
              "description": "Title of the recommendation"
            },
            "task": {
              "type": "string",
              "description": "Task description"
            },
            "data_points": {
              "type": "string",
              "description": "Data points supporting the recommendation"
            },
            "recommnedation": {
              "type": "string",
              "description": "Full recommendation text"
            },
            "why_important": {
              "type": "string",
              "description": "Why this recommendation is important"
            },
            "platform": {
              "type": "string",
              "description": "Platform where the recommendation applies"
            },
            "status": {
              "type": "string",
              "description": "Status of the recommendation"
            },
            "date": {
              "type": "string",
              "format": "date",
              "description": "Date of the recommendation"
            },
            "cw": {
              "type": "string",
              "description": "CW identifier"
            },
            "attached_links": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uri"
              },
              "description": "Links attached to the recommendation"
            },
            "effort_size": {
              "type": "string",
              "description": "Size of effort required"
            },
            "scope": {
              "type": "string",
              "description": "Scope of the recommendation (Onsite/Offsite)"
            },
            "query_group_name": {
              "type": "string",
              "description": "Name of the query group"
            },
            "query_group_id": {
              "type": "number",
              "description": "ID of the query group"
            },
            "user_task_status": {
              "type": "string",
              "description": "Status of the user task"
            }
          },
          "required": [
            "id",
            "title",
            "task",
            "data_points",
            "recommnedation",
            "why_important",
            "platform",
            "status",
            "date",
            "cw",
            "attached_links",
            "effort_size",
            "scope",
            "query_group_name",
            "query_group_id",
            "user_task_status"
          ]
        },
        "RecommendationsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Recommendation"
              },
              "description": "List of recommendations"
            },
            "version": {
              "type": "string",
              "description": "API version"
            },
            "env": {
              "type": "string",
              "description": "Environment name"
            }
          },
          "required": [
            "data",
            "version",
            "env"
          ]
        }
      },
      "securitySchemes": {
        "apiKeyHeader": {
          "type": "apiKey",
          "in": "header",
          "name": "X-API-Key"
        }
      }
    }
  }